.dt-buttons{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.dt-button {
  width: 30%;
}

.dataTables_scrollBody {
    border-bottom: none !important;
}

#message{
  text-align: center;
}

.dt-buttons{
  margin-top: 10px;
}
